# IDE specific files
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Java
*.class
target/
bin/
out/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.env
dist/

# Angular
.angular/
dist/
tmp/
out-tsc/

# TypeScript
*.js.map
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific
.DS_Store
Thumbs.db
